@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

html, body {
    overflow-x: hidden;
}

.page {
    /* min-height: 95vh;
    max-height: 95vh; */
    margin: 1em;
}

@media screen and (max-width: 325px) {
    .page {
        height: 586px !important;
    }
}

/********************************************************************************* page 1 *********************************************************/

/* .page {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 80vh;
}

.page img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
} */

.back-top-wrapper {
  position: fixed;
  bottom: 8%;
  right: 5%;
  width: 55px;
  height: 55px;
  padding: 2.5px; /* This becomes the border thickness */
  background: linear-gradient(to right, #0e7947, #04632e);
  border-radius: 50%;
  z-index: 1000;
}

.back-top-button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.back-top-button i {
  font-size: 24px;
  background: linear-gradient(to right, #0e7947, #04632e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.back-top-button:hover i {
  opacity: 0.8;
}

.Page-2-Bg-Img{
    width: 30%;
    height: 100vh;
} 
